#header-image {
    width: 500px;
    height: 63px;
    margin-top: 50px
}
#etch-a-sketch {
    width: 750px;
    height: 590px;
    margin-top: 50px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}
#screen {
    width: 375px;
    height: 375px;
}
.knob {
    width: 93px;
    height: 93px;
}
#knob-container {
    width: 600px;
    margin-top: 30px;
}